<div class="content" role="main">
<mat-card *ngFor="let item of products">

    <mat-card-title>
        <p>ID: {{item.id}}</p>
    </mat-card-title>    
   <mat-card-subtitle>
           {{item.title}}         
    </mat-card-subtitle>   
    <mat-card-content>
        <img src="{{item.thumbnailUrl}}"  height="70" width="95" >
    </mat-card-content>
    
    <mat-card-actions>
            <a mat-button mat-raised-button
            color="primary"
            target="_blank"
            [attr.href]="item.url">
            view Img
            </a>
    </mat-card-actions>
   
</mat-card>
</div>