<p>codigo:{{itemToSend.Codigo}}</p>


<mat-dialog-content [formGroup]="form">  <!--(submit)="submit()"-->
  
    <mat-form-field  class="form-field">
        <input matInput
                placeholder="Agregue su email o teléfono para ser contactado"
               formControlName="bodyInForm">
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()" >Close</button>
    <button class="mat-raised-button mat-primary"(click)="SendMessage()">Enviar</button>
</mat-dialog-actions>
