<mat-toolbar color="skyblue">
    

    <table align="center" >
        <thead>
            <tr>
                <td>¡Comunicate con nosotros! </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <p>
                        <a href="mailto:consultas@sistemas.com.ar"> consultas@sistemas.com.ar</a>
                        </p>
                        
                </td>
            </tr>
        </tbody>
    </table>

</mat-toolbar>
